<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New customer | MyStore System</title>
    <link rel="stylesheet" href="/../../css/sidebar.css">
    <link rel="stylesheet" href="/../../css/table.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="logoContent">
            <div class="logo">
                <span>MyStore System</span>
                <div id="btn">
                    <label class="hamburger-menu">
                        <input type="checkbox" id="hamburger">
                    </label>
                </div>
            </div>
        </div>
        <ul class="nameList">
            <div class="topItems">
                <div class="itemsHeader">Menu</div>
                <li>
                    <a href="/home.html">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="/dashboard.html">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a id="inventory">
                        <i class='bx bx-package'></i>
                        <span>Inventory</span>
                        <i class='bx bx-chevron-right submenuArrow invArrow'></i>
                    </a>
                    <span class="tooltip">inventory</span>
                    <ul class="submenu-items sm-inv">
                        <li>
                            <a href="..\inventory\items\items.html">Items</a>
                        </li>
                        <li>
                            <a href="..\inventory\items\create.html">New Items</a>
                        </li>
                        <li>
                            <a href="..\inventory\categories\categories.html">Categories</a>
                        </li>
                        <li>
                            <a href="..\inventory\categories\create.html">New Category</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="orders">
                        <i class='bx bx-shopping-bag'></i>
                        <span>Orders</span>
                        <i class='bx bx-chevron-right submenuArrow ordersArrow'></i>
                    </a>
                    <span class="tooltip">Orders</span>
                    <ul class="submenu-items sm-orders">
                        <li>
                            <a href="..\orders\orders.html">View Orders</a>
                        </li>
                        <li>
                            <a href="..\orders\create.html">New Order</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="customers">
                        <i class='bx bx-group'></i>
                        <span>Customers</span>
                        <i class='bx bx-chevron-right submenuArrow customersArrow'></i>
                    </a>
                    <span class="tooltip">Customers</span>
                    <ul class="submenu-items sm-customers">
                        <li>
                            <a href="customers.html">View Customers</a>
                        </li>
                        <li>
                            <a href="..\customers\create.html">New Customer</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="users">
                        <i class='bx bxs-user-account'></i>
                        <span>Users</span>
                        <i class='bx bx-chevron-right submenuArrow usersArrow'></i>
                    </a>
                    <span class="tooltip">Users</span>
                    <ul class="submenu-items sm-users">
                        <li>
                            <a href="..\users\users.html">View Users</a>
                        </li>
                        <li>
                            <a href="..\users\create.html">New Users</a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="bottomItems">
                <div class="itemsHeader">Preferences</div>
                <li>
                    <a class="openModalS">
                        <i class='bx bx-cog'></i>
                        <span>Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li>
                    <a class="openModalL">
                        <i class='bx bx-log-out-circle'></i>
                        <span>Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </div>
        </ul>
    </div>
    <div class="home">
        <header>
            <div class="headerContent">
                <div class="leftContent">
                    <h1 class="bizName">MyStore System</h1>
                </div>
                <div class="rightContent">
                    <i class='bx bx-bell'></i>
                    <div class="userProfile">
                        <div class="userText">
                            <div class="name">Username</div>
                            <div class="job">Rol</div>
                        </div>
                        <div class="profilePicture">
                            <i class='bx bx-user'></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content-header">
                <div class="header-text">
                    <a href="customers.html">Customers</a>
                    <div class="animated-header">> New Customer</div>
                </div>
            </div>
        <form action="">
            <div class="item-info">
                <div class="item-fields">
                    <div class="content-items">
                        <label>First Name</label>
                        <input type="text" name="first_name">
                    </div>
                    <div class="content-items">
                        <label>Last Name</label>
                        <input type="text" name="last_name">
                    </div>
                    <div class="content-items">
                        <label>Email</label>
                        <input type="email" name="email">
                    </div>
                    <div class="content-items">
                        <label>Phone</label>
                        <input type="text" name="phone">
                    </div>
                </div>
                <div>
                    <div class="content-items">
                        <label>Address 1</label>
                        <input type="text" name="address">
                    </div>
                    <div class="content-items">
                        <label>Address 2</label>
                        <input type="text" name="address2">
                    </div>
                    <div class="content-items">
                        <label>City</label>
                        <input type="text" name="city">
                    </div>
                    <div class="content-items">
                        <label>Country</label>
                        <select name="country">
                            <option value="mexico">Mexico</option>
                            <option value="united states">United States</option>
                            <option value="canada">Canada</option>
                        </select>
                    </div>
                    <div class="content-items">
                        <label>Zip Code</label>
                        <input type="text" pattern="[0-9]{5}" name="postal_code">
                    </div>
                </div>
            </div>
            <div class="form-buttons">
                <input class="newButton cancelButton" type="button" value="Cancel">
                <input class="newButton" type="button" value="Save">
            </div>
        </form>
        </div>
        <!-- settigns menu -->
        <dialog class="settingsModal modal">
            <div class="modalHeader">
                <h1>Settings</h1>
                <i class='bx bx-x closeBtnModalS modalX'></i>
            </div>
            <div class="modalContent stgModal">
                <div class="switchContainer">
                    <h2>Theme</h2>
                    <div class="theme-switcher">
                        <input type="radio" id="light-theme" name="themes">
                        <label for="light-theme">
                            <span>
                                <i class='bx bxs-sun'></i> Light
                            </span>
                        </label>
                        <input type="radio" id="dark-theme" name="themes">
                        <label for="dark-theme">
                            <span>
                                <i class='bx bxs-moon'></i> Dark
                            </span>
                        </label>
                        <span class="slider"></span>
                    </div>
                </div>
                <ul>
                    <li>
                        <a class="openModalAS">
                            <i class='bx bx-cog'></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="openModalAU">
                            <i class='bx bx-info-circle'></i>
                            <span>About the page</span>
                        </a>
                    </li>
                </ul>
            </div>
        </dialog>
        <!-- Logout menu -->
        <dialog class="logoutModal modal">
            <div class="modalHeader">
                <h1>Logout</h1>
                <i class='bx bx-x closeBtnModalL modalX'></i>
            </div>
            <div class="modalContent lgtModal">
                <div class="logoutText">Are you sure you want to logout?</div>
                <div class="logoutButtons">
                    <button id="logoutClose" class = "closeBtnModalL">Cancel</button>
                    <a href="/index.html"><button id="logoutOk" type="submit">Ok</button></a>
                </div>
            </div>
        </dialog>
        <!-- Account settings -->
        <dialog class="accountStgModal modal">
            <div class="modalHeader">
                <h1>Account Settings</h1>
                <i class='bx bx-x closeBtnModalAS modalX'></i>
            </div>
            <div class="modalContent accStgModal">
                <ul>
                    <h2>Account Information</h2>
                    <li>
                        <i class='bx bx-hash'></i>
                        <span>User ID: 1</span>
                    </li>
                    <li>
                        <i class='bx bx-user'></i>
                        <span>Name: Omar</span>
                    </li>
                    <li>
                        <i class='bx bx-user'></i>
                        <span>Username: Pvngu</span>
                    </li>
                    <li>
                        <i class='bx bx-user'></i>
                        <span>Role: Admin</span>
                    </li>
                </ul>
            </div>
        </dialog>
        <!-- About us -->
        <dialog class="aboutUsModal modal">
                <div class="modalHeader">
                    <h1>About the page</h1>
                    <i class='bx bx-x closeBtnModalAU modalX'></i>
                </div>
                <div class="modalContent AUModal">
                    <p>This page was created for educational purposes</p>
                </div>
        </dialog>
    </div>
</body>
<script src="\js\sidebar.js"></script>
</html>